In [1]:
# 1.  Write a python program to convert a string to lowercase
str1 = "INNOMATICS"
str1 = str1.lower()
str1

'innomatics'

#### 2. Write a python program to convert only odd indexed characters to lowercase

Ex: PYTHON
Output: - PyThOn

In [7]:
str2 = "PYTHON"
for o in range(len(str2)):
        if o % 2 == 1:
            print(str2[o].lower())
        else:
            print(str2[o])

P
y
T
h
O
n

#### 3. Write a python program to convert only even indexed characters to lowercase

Ex: PYTHON
Output: - pYtHoN

In [6]:
str2 = "PYTHON"
for o in range(len(str2)):
        if o % 2 == 0:
            print(str2[o].lower())
        else:
            print(str2[o])

p
Y
t
H
o
N

#### 4. Write a python program to convert only odd indexed characters to uppercase

Ex: python
Output: pYtHoN

In [38]:
str2 = "python"
for o in range(len(str2)):
        if o % 2 == 1:
            print(str2[o].upper())
        else:
            print(str2[o])

p
Y
t
H
o
N

#### 5. Write a python program to convert only even indexed characters to uppercase

Ex: python
Output: - PyThOn

In [14]:
str2 = "python"
for o in range(len(str2)):
        if o % 2 == 0:
            print(str2[o].upper())
        else:
            print(str2[o])

P
y
T
h
O
n

#### 6. Write a python program where you have different variables which contain your name, gender, age, phone number, father’s name and mother’s name. And by using this variable create a variable named bio-data where you will use all this variable

Ex: print(bio-data)

Output:- My name is …., My age is ….,My phone-no is ….,my father’s name is …,and my mother’s name is…

In [28]:
NAME = "My name is MAHESH,"
AGE  = "My age is 23," 
PHO_NO = "hone-no is 9652365236,"
FATHER = "My father name is SIVUNNAIDU"
MOTHER = "My mother is NARAYANI."
bio_ata = NAME + AGE + PHO_NO +FATHER + MOTHER 
print(bio_ata)

My name is MAHESH,My age is 23,hone-no is 9652365236,My father name is SIVUNNAIDUMy mother is NARAYANI.

#### 7. Write a python program to count how many times “@” occurred
 Ex: S@ndhy@ 
Output: 2

In [39]:
s = "S@ndhy@"
s.count('@')

2

#### 8. Write a python program to get only names from the string

Ex: “name1.@gmail.com, name2.@gmail.com, name#3.@gmail.com”
	
Output-name1, name2, name3

In [32]:
name1 = "name1.@gmail.com"
name2 = "name2.@gmail.com"
print(name1[:5])
print(name2[:5])

name1
name2

#### 9. Write a program to remove vowels from the entire alphabets

Ex: “abcdefghijklmnopqrstuvwxyz”

Output: “bcdfghjklmnpqrstvwxyz”

In [35]:
for k in "abcdefghijklmnopqrstuvwxyz":
    if k not in "aeiou":
        print(k,end = " ")

b c d f g h j k l m n p q r s t v w x y z

#### 10. Find all occurrences of a substring in a given string by ignoring the case

Ex: str1 = "Welcome to Innomatics. innomatics awesome, isn't it?"

Output: innomatics count is: 2

In [36]:
str1 = "Welcome to innomatics of a substring in a given string by ignoring the case"
str1 = str1.count("innomatics")
print("innomatics count is: ",str1)

innomatics count is:  1